<link rel="stylesheet" data-th-href="@{css/autocomplete/autocomplete.css}">
<link rel="stylesheet" data-th-href="@{js/bootstrap-fileinput-4.4.8/css/fileinput.css}">
<link rel="stylesheet" data-th-href="@{js/bootstrap-fileinput-4.4.8/css/fileinput-rtl.css}">

<script data-th-src="@{js/bootstrap-fileinput-4.4.8/js/fileinput.js}"></script>
<script data-th-src="@{js/bootstrap-fileinput-4.4.8/js/zh.js}"></script>

<style>
    .autocomplete-input {
        padding: 0;
        font-family: inherit;
        float: initial;
        font-size: 1em;
        border: 0 solid rgba(0, 0, 0, 0.19);
        margin: 0;
    }
    .autocomplete-container {
        position: relative;
        width: 1rem;
        height: 1rem !important;
        margin: 0  ;
    }
    .dropdown-toggle .caret{
        display: none;
    }
</style>
<div data-th-include="web/main/video/videos"></div>
<div class="card">
    <div class="card-block">
        <div class="table-responsive">
            <div id="data-table_wrapper" class="dataTables_wrapper">
                <div class="dataTables_buttons hidden-sm-down actions">
                    <span class="actions__item zmdi zmdi-search" onclick="search()" title="搜索" />

                    <div class="dropdown actions__item" shiro:hasAnyPermissions="job:add,job:update,job:delete,job:pause,job:resume,job:run">
                        <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!--<a href="javascript:void(0)" class="dropdown-item" data-toggle="modal" data-target="#job-add" shiro:hasPermission="job:add">任务管理</a>-->
                            <a href="javascript:void(0)" class="dropdown-item" onclick="videoseting()">视频管理 </a>
                            <a href="javascript:void(0)" class="dropdown-item" onclick="addvideo()">添加视频</a>
                            <a href="javascript:void(0)" class="dropdown-item" onclick="delvideo()">删除视频</a>
                            <!--<a href="javascript:void(0)" class="dropdown-item" onclick="deleteJob()" shiro:hasPermission="job:delete">删除人员</a>-->
                            <!--<a href="javascript:void(0)" class="dropdown-item" onclick="moban()" >谈话模板</a>-->
                            <!--<a href="javascript:void(0)" class="dropdown-item" onclick="pauseJob()" shiro:hasPermission="job:pause">暂停任务</a>-->
                            <!--<a href="javascript:void(0)" class="dropdown-item" onclick="resumeJob()" shiro:hasPermission="job:resume">恢复任务</a>-->
                        </div>
                    </div>
                </div>
                <div id="data-table_filter" class="dataTables_filter">
                    <form class="job-table-form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
					               编号：
					            </span>
                                    <div class="form-group">
                                            <input type="text" name="beanName" id="sys-cron-clazz-list-bean"  class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                       标题：
					            </span>
                                    <div class="form-group">
                                            <input  type="text" name="methodName" id="sys-cron-clazz-list-method" class="form-control">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table id="jobTable" data-mobile-responsive="true" class="mb-bootstrap-table text-nowrap"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/video/videos.js}"></script>
<script data-th-src="@{js/autocomplete/autocomplete.js}"></script>