<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.prisoner.dao.prisonerMapper">
    <resultMap id="prisonerMap" type="cc.mrbird.prisoner.domain.JzPrisoner">
        <!--
          WARNING - @mbg.generated
        -->

    </resultMap>
    <select id="findPrisoner" resultMap="prisonerMap">
  	SELECT
	j.*, t.USERNAME username
    FROM
	jz_prisoner j
    LEFT JOIN t_user t ON j.leader = t.USER_ID
    where 1=1
        <if test="prisonerNo != null and prisonerNo != ''">
        AND j.prisonerNo = #{prisonerNo}
        </if>
        <if test="name != null and name != ''">
            AND j.name = #{name}
        </if>
        <if test="card != null and card != ''">
            AND j.card = #{card}
        </if>
        <if test="password != null and password != ''">
            AND j.password = #{password}
        </if>
        <if test="sex != null and sex != ''">
            AND j.sex = #{sex}
        </if>
        <if test="leader != null and leader != ''">
            AND j.leader = #{leader}
        </if>
  </select>
</mapper>