<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.prisoner.dao.talkMapper">
    <resultMap id="talkMap" type="cc.mrbird.prisoner.domain.JzTalk">
        <!--
          WARNING - @mbg.generated
        -->

    </resultMap>
    <select id="findPrisonerTalk" resultMap="talkMap">
  	SELECT
	*
    FROM
	  jz_talk j
    LEFT JOIN jz_prisoner z ON j.prisonerNo = z.prisonerNo
    where 1=1 and  j.prisonerNo = #{prisonerNo}
  </select>
</mapper>