<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.prisoner.dao.taskMapper">
    <resultMap id="taskMap" type="cc.mrbird.prisoner.domain.JzTask">
        <!--
          WARNING - @mbg.generated
        -->

    </resultMap>
    <select id="findTask" resultMap="taskMap">
        SELECT
        j.*, t.USERNAME username,
        z.card,
        z.`name`,
        z.telephone,
        z.leader
        FROM
        jz_task j
        LEFT JOIN jz_prisoner z ON j.prisonerNo = z.prisonerNo
        LEFT JOIN t_user t ON z.leader = t.USER_ID
        WHERE
        1 = 1

        <if test="prisonerNo != null and prisonerNo != ''">
            AND j.prisonerNo = #{prisonerNo}
        </if>
        <if test="name != null and name != ''">
            AND z.name = #{name}
        </if>
        <if test="card != null and card != ''">
            AND z.card = #{card}
        </if>
        <if test="statue != null and statue != ''">
            AND j.statue = #{statue}
        </if>
        <if test="leader != null and leader != ''">
            AND z.leader = #{leader}
        </if>
        <if test="taskType != null and taskType != ''">
            AND j.taskType = #{taskType}
        </if>


  </select>

</mapper>